{% extends 'base.html' %}
{% block content %}
<p><a href="{% url 'booking:show_booking' %}"><button>← Back to Venue List</button></a></p>

<h1>{{ venue.name }}</h1>
<p><b>{{ venue.get_category_display }}</b>{% if venue.is_featured %} | 
    <b>Featured</b>{% endif %}{% if venue.is_venue_hot %} | 
    <b>Hot</b>{% endif %} | <i>{{ venue.created_at|date:"d M Y, H:i" }}</i> 
    | Views: {{ venue.venue_views }}</p>

{% if venue.thumbnail %}
<img src="{{ venue.thumbnail }}" alt="Venue thumbnail" width="300">
<br /><br />
{% endif %}

<p>{{ venue.description }}</p>

{% endblock content %}