{% if venues.paginator.num_pages > 1 %}
<nav aria-label="Page navigation" class="flex justify-center mt-12">
  <ul class="inline-flex items-center -space-x-px">
    
    {% if venues.has_previous %}
      <li>
        <a href="?page={{ venues.previous_page_number }}&{{ current_filters_no_page.urlencode }}"
           class="page-link ml-0 rounded-l-lg py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">
          <span class="sr-only">Previous</span>
          <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
        </a>
      </li>
    {% else %}
      <li>
        <span class_alias="ml-0 rounded-l-lg py-2 px-3 leading-tight text-gray-300 bg-white border border-gray-300 cursor-not-allowed">
          <span class="sr-only">Previous</span>
          <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
        </span>
      </li>
    {% endif %}

    {% for page_num in venues.paginator.page_range %}
      {% if venues.number == page_num %}
        <li>
          <span aria-current="page" class="page-link z-10 py-2 px-3 leading-tight text-green-600 bg-green-50 border border-green-300 hover:bg-green-100 hover:text-green-700">
            {{ page_num }}
          </span>
        </li>
      {% else %}
        <li>
          <a href="?page={{ page_num }}&{{ current_filters_no_page.urlencode }}"
             class="page-link py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">
            {{ page_num }}
          </a>
        </li>
      {% endif %}
    {% endfor %}

    {% if venues.has_next %}
      <li>
        <a href="?page={{ venues.next_page_number }}&{{ current_filters_no_page.urlencode }}"
           class="page-link rounded-r-lg py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">
          <span class="sr-only">Next</span>
          <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
        </a>
      </li>
    {% else %}
      <li>
        <span class="rounded-r-lg py-2 px-3 leading-tight text-gray-300 bg-white border border-gray-300 cursor-not-allowed">
          <span class="sr-only">Next</span>
          <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
        </span>
      </li>
    {% endif %}

  </ul>
</nav>
{% endif %}